 
{{ define "recommendations" }}
<section class="recommendations">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <h2>You May Also Like</h2>
          <div class="row">
            {{ range .recommendations }}
            <div class="col-md-3">
              <div>
                <a href="{{ $.baseUrl }}/product/{{.Id}}">
                  <img alt="" src="{{ $.baseUrl }}{{.Picture}}">
                </a>
                <div>
                  <h5>
                    {{ .Name }}
                  </h5>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
</section>
{{ end }}
